#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base_m {
            bindings = <
&kp TAB    &kp Q  &kp W      &kp F         &kp P           &kp G        &kp J        &kp L      &kp U      &kp Y    &kp APOS  &kp EQUAL
&kp LCTRL  &kp A  &kp R      &kp S         &kp T           &kp D        &kp H        &kp N      &kp E      &kp I    &kp O     &kp MINUS
&kp LSHFT  &kp Z  &kp X      &kp C         &kp V           &kp B        &kp K        &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp SEMI
&none      &none  &kp LCTRL  &mt LALT DEL  &mt LGUI SPACE  &lt 1 LANG2  &lt 2 LANG1  &kp ENTER  &kp BSPC   &kp ESC  &none     &none
            >;

            label = "Mac Base";
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
